@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;600;700&family=Lora:wght@400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&family=Yuji+Boku&display=swap');

:root{
    --ink-pink: #EB3185;
    --light-pink: #FEF2F0;
}

body{
    font-family: 'Poppins', sans-serif;  
}

.modal-content{
    background-color: var(--light-pink)
}

.btn-save{
    background-color: var(--ink-pink);
    color: white;
   
}

.btn-save:hover{
    background-color: var(--light-pink);
    border: 1px solid var(--ink-pink);
}


.header{
    display: flex;
    box-shadow: 0px 4px 24px 0px #BA150814;
    position: fixed;
    top: 0px;
    z-index: 100;
    background-color: white;
}

.hd-text{
    overflow-x: auto;
    cursor: pointer;
   
}

.hd-text::-webkit-scrollbar{
    display: none;
}


/* .hd-text_scroll{
    min-width: 100vw;
} */

.hd-note{
    align-items: baseline;

   
}


.logo_img{
    /* margin-top: -12px; */
    width: 32px;
}

.logo a{
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.data{
    margin-top: 100px;
}

.data .card-fluid{
    border-radius: 10px;
    box-shadow: 0px 4px 24px 0px #BA150814;
    min-width: 216px;
    
}

.card-hd{
    background-color: var(--ink-pink);
    max-width: 6000px;
    height: 0.3rem;
    border-radius:10px 10px 0px 0px;
}

.dis-coin{
    width:45%;
}

.countries{
    position: relative;
}

.scrollable{
    background-color: var(--light-pink);
    font: arial;
    border-radius: 18px;
    position: relative;
    overflow: hidden;
}


.live{
    position: absolute;
    right: 30px;
}

.live img{
    width: 25px;
}

.live a{
    text-decoration: none;
    color: black;
    font-size: 14px;
   
    
}



.r_img{
    width: 150px;
    position: absolute;
    right: -28px;
    top: -20px;
}

.l_img{
    width: 140px;
    position: absolute;
    bottom: -30px;
    left: -30px;
    transform: rotateY(350deg);
}

 #all-table th{
    /* font-family: Lato; */
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
}

.scrollable-hd{
    height: 30px;
    width: 250px;
    border-radius: 10px;
    background-color: pink;
    border: 1px solid var(--light-pink);
    position: absolute;
    z-index: 1;
    left: 40%;
    top: -10px;

}





#all-table tr:hover{
    background-color: rgb(248, 248, 248);
}



td{
    font-family: manrope;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    /* cursor: pointer; */
   
}


.td-expand strong{
    color: var(--ink-pink);
}



footer img{
    width: 70px; 
}

.lead{
    font-size: 14px;
}

footer a{
    color: var(--ink-pink);
}

footer a:hover{
    color: var(--light-pink);
}

.arrrow{
    position: absolute;
    padding: 40px;
}


















@media (max-width: 1385px){
    .scrollable-hd{
        left: 38%;
    
    }

}




@media (max-width: 1385px){
    .scrollable-hd{
        left: 37%;

    }

}



@media (max-width: 990px){
    .scrollable-hd{
        left: 32%;

}

}



@media (max-width: 768px) {
    
    .header{
        display: block;
    }

    .logo_img{
        /* margin-top: -18px; */
        width: 30px;
    }

    .logo{
        border-bottom: 1px solid var(--ink-pink);
    }
    
    .logo p{
        font-size: 20px;
    }
    
    .hd-text{
        margin-top:10px;
    }

    .hd-text_scroll{
        min-width: fill;
    }

    .hd-note p{
        font-size: 14px;
    }
   
    
    .data{
        margin-top: 150px;
    }

    .scrollable-hd{
        width: 280px;
        left: 29%;
    
    }

        
    .live{
        position: static;
        margin-top: -10px;
        margin-bottom: 20px;
        display:none;
        
    }

    .live img{
        width: 18px;
    }

    .live a{
        font-size: 12px;
    }

    .table-responsive::-webkit-scrollbar{
        margin: 0;
    }

    footer img{
        width: 40px; 
    }
    
    .lead{
        font-size: 12px;
    }


    .arrrow{
        position: static;
        padding: 0px;
    }

}



@media (max-width: 766px) {
    .scrollable-hd{
        left: 22%;
    
    }
    
}



@media (max-width: 540px) {
    .scrollable-hd{
        left: 20%;
    
    }
    
}



@media (max-width: 429px) {
    .scrollable-hd{
        left: 18%;
    
    }
    
}


@media (max-width: 414px) {
    .scrollable-hd{
        left: 14%;
    
    }
    
}





@media (max-width: 375px) {
    .scrollable-hd{
        width: 220px;
        left: 18%;
    
    }
    
}


@media (max-width: 320px) {
    .scrollable-hd{
        left: 19%;
        width: 180px;
    
    }
    
}



@media (max-width: 280px) {
    .scrollable-hd{
        left: 16%;
        
    
    }
    
}




@media (max-width: 185px) {
    .data{
        margin-top: 270px;
    }

    .scrollable-hd{
        left: 19%;
        width: 50px;
    
    }
}